body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
}

#sqrt {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.yellow {
    background-color: yellow;
}


.hiden {
    display: none;
}