body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
}

#sqrt {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.hiden {
    display: none;
}